html {

    font-family: 'Kumbh Sans', sans-serif;
    font-size: 16px;
}

body {

    margin: 0;
    background-color: aliceblue;
}

main {

    width: 375px;
    margin: 0 auto;
    background-color: white;
    
}

.main-container {

    position: relative;
    

    
}

.columns {

    display: none;
}

#hamburger-open, #hamburger-close, #avatar {

    cursor: pointer;
    
}

.checkout-container {
    
    z-index: 1;
    width: 351px;
    background-color: white;
    border-radius: 5px;
    box-shadow:0 0.6rem 2rem rgba(0,0,0,0.2);
    margin-top: -20px;
    
}

.checkout-modal {

    display: none;
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgba(0,0,0,0.2); /* Black w/ opacity */

    justify-content: center;
    align-items:baseline;
  }



.active {

    display: flex !important;
}


.top {

    padding: 25px;
    border-bottom: 1px solid hsl(220, 14%, 92%);
    color: hsl(220, 13%, 13%);
    font-weight: 700;
    display: flex;
    justify-content: space-between;
}

.top img {

    cursor:pointer;
}

.bottom {

    height: 190px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 700;
    color: hsl(219, 9%, 45%);
}


.bottom2 {

    height: 190px;
    padding-left: 25px;
    padding-right: 25px;
    display: none;
}

#c-btn {

    box-shadow: none;
    
}

#trash {

    cursor: pointer;
}

.top-child-container {

    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px 0 25px 0;
}

.left a {

    display: none;
}


#smiths1 {

    width: 50px;
    border-radius: 5px;
}

.smiths {

    width: 375px;
}

.nav {

    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    position: relative;
}

#notification {

    color: white;
    background-color: red;
    padding: 2px 7px 2px 7px;
    border-radius: 50%;
    font-size: .7em;
    position: absolute;
    top: -5px;
    right: 40px;
    display: none;
}

.right {

    position: relative;
}

.right img {

    width: 25px;
}

#logo {

    margin-left: 15px;
}

#cart {

    margin-right: 15px;
    cursor: pointer;
}

h1, h2, p {

    margin: 0;
    margin-bottom: 10px;

}

.info {

padding: 20px;


}

h1 {

    font-size: .9em;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 2px;
}

h2 {

    font-size: 1.9em;
}

.price-container {

    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 25px;
}

.left-child {

    display: flex;
    align-items: center;
    gap: 15px;
}

#discount {

    font-weight: 700;
    color: hsl(26, 100%, 55%);
    background-color: hsl(25, 100%, 94%);
    padding: 3px 6px 3px 6px;
    border-radius: 5px;
}
.right-child span {

    font-weight: 700;
}

#price {

    font-weight: 700;
    font-size: 1.9em;
    
}

button {

    width: 100%;
    padding-top: 15px;
    padding-bottom: 15px;
    border: none;
    border-radius: 5px;
    font-family: 'Kumbh Sans', sans-serif;
    font-weight: 700;
    font-size: 1em;
    color: white;
    background-color: #0EAD69;
    box-shadow:0 0.6rem 2rem rgba(0,0,0,0.2);
    cursor: pointer;
}

.product-count {

    width: 100%;
    padding-top: 15px;
    padding-bottom: 15px;
    border-radius: 5px;
    background-color:hsl(223, 64%, 98%);
    text-align: center;
    font-family: 'Kumbh Sans', sans-serif;
    font-weight: 700;
    margin-bottom: 25px;
    display: flex;
    justify-content: space-between;
    
}

p {

    color: hsl(219, 9%, 45%);
    font-weight: 500;
    line-height: 25px;
    margin-bottom: 25px;
}

/* #F2EEEB */

#test {

color: #0EAD69;

}

#last {

    text-decoration: line-through;
    color: hsl(220, 14%, 75%);
}

#plus, #remove {

    color: #0EAD69;
    font-weight: 700;
    padding-left: 25px;
    padding-right: 25px;
}


/* Slideshow */

.slideshow {

    position: relative;
}

.mySlides {

    display: none;
}

#prev, #next {

    cursor: pointer;
    position: absolute;
    top: 45%;
    background-color: white;
    padding-top: 15px;
    padding-bottom: 15px;
    width: 30px;
    text-align: center;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    user-select: none;
}




#next {

    right: 12px;
    padding-left: 5px;
    padding-right: 5px;
    border-radius: 5px 5px 5px 5px;

}

#prev {

    left: 12px;
    padding-left: 5px;
    padding-right: 5px;
    border-radius: 5px 5px 5px 5px;

}

.fade {

    animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
    from {opacity: .6} 
    to {opacity: 1}
  }


  .middle-child-container span {


    line-height: 25px;
    color:hsl(219, 9%, 45%);
    
}
  
#price-total, #dollar {

    font-weight: 700;
    color: hsl(220, 13%, 13%);
}

#dollar {

}


.checkout {

    display: flex;
    justify-content: center;
    align-items: center;
}

.material-symbols-outlined {

    cursor: pointer;
    user-select: none;
}

.cart-svg {

    filter: invert(86%) sepia(100%) saturate(0%) hue-rotate(53deg) brightness(100%) contrast(500%);
    margin-right: 15px;
}



/* Modal */


.modal {
    width: 100%;
    position: fixed; /* Stay in place */
    z-index: -1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.6); /* Black w/ opacity */
    transition: .3s;
    opacity: 0;
  }

    .transitionm {

        z-index: 2;
        opacity: 1;
        

    }

    .transitionwidth {

        width: 210px !important;
    }
  
  .nav-modal {

    position: absolute;
    z-index: 3;
    background-color: white;
    left: 0;
    top: 0;
    height: 90%;
    width: 0px;
    transition: .5s;
    display: flex;
    flex-direction: column;
    padding: 25px 0 0 25px;
    gap: 50px;
    transition: .3s;
  }

  .bottom-mobile-nav {

    display: flex;
    flex-direction: column;
    font-weight: 700;
    color: hsl(220, 13%, 13%);
    gap: 20px;
  }

  .left-right {

    display: none;
  }
  

 @media screen and (min-width: 500px) {

    
    main {

        width: 100%;
    }

    .smiths {

        width: 100vw;
        box-sizing: border-box;
    }

    #hamburger-open {

        display: none;
    }

    #logo {
        
        margin: 0;
    }

   #avatar {

    width: 50px;
    margin-lefT: 30px;

   }

   #avatar:hover {

    outline: 2px solid #0EAD69;
    border-radius: 50%;

   }

   .right {

    align-items: center;
    display: flex;
   }

    #cart {

        margin-right: 15px;
    }

    #notification {

        right: 80px;
        top: 1px;

        
    }


    
 }


 @media screen and (min-width: 700px) {


    .left-right {

        display: inline-flex;
    }

    .left {

        display: flex;
        gap: 40px;
        align-items: center;
    }

    .left a {
        
        display: inline-flex;
        margin-right: 40px;
        

    }

    .left a:hover {
        cursor: pointer;
        text-decoration:  #0EAD69 4px underline;
        text-underline-offset: 46px;
    }


 }

 @media screen and (min-width: 1200px) {


    .main-container {

        display: flex;
        justify-content: center;
       margin-top: 100px;
       gap: 150px;
       align-items: center;
        
    }

    .checkout-modal {

        justify-content: flex-end;
        
    }


    .checkout-container {

        margin-right: 50px;
        margin-top: -10px;
    }

    .smiths {

        width: 520px;
        border-radius: 5px;
        
    }

    main {

        width: 100%;
        
    }

    .info {

        width: 430px;
    }

    body{
        
        background-color: white;
        
    }

    .nav {

        padding: 30px 60px 30px 60px;
        border-bottom: 1px solid hsl(220, 14%, 89%);
        
    }

    .price-container {

        flex-direction: column;
        align-items: flex-start;
        gap: 10px;
        margin-bottom: 35px;
    }

    .btns-container {

        display: flex;
        align-items: center;
        gap: 20px;
    }

    #anim-btn, .product-count {

        margin: 0;

    }

    #item-counter {

        width: 40px;
    }

    #plus {

        padding-right: 10px;

    }

    #remove {

        padding-left: 10px;
    }
    

    .product-count {

        flex: 1;
    }

    .info h2 {

        font-size: 2.9em;
        margin-bottom: 25px;
    }



    .left {

        gap: 50px;
    }

    .left a {
        
        margin-right: 50px;
        

    }

    .slideshow-container {

        display: flex;
        flex-direction: column;
    }

    .columns {

        display: flex;
        justify-content: space-between;
        margin-top: 35px;
        
        
    }

    .columns img {
        border-radius: 5px;
        width: 100px;
        opacity: .6;
        transition: .2s;
    }

    .columns img:hover {

        cursor: pointer;
        opacity: 1;
    }


    
 }